<a href="https://colab.research.google.com/github/Ahmethan96/python-tutorial/blob/main/2_Python_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **2. Python Data Types** ###
### **2. Python Veri Türleri** ###

**2.1.1 Values and Data Types**

**2.1.1 Değerler ve Veri Türleri**

In [1]:
print(type("Hello, World!"))
print(type(17))
print("Hello, World")

<class 'str'>
<class 'int'>
Hello, World

In [7]:
print(type(3.2))

<class 'float'>

**2.1.2 Type Conversion Functions**

**2.1.2 Tip Dönüştürme**

In [5]:
print(3.14, int(3.14))
print(3.9999, int(3.9999))       # This doesn't round to the closest int!
print(3.0, int(3.0))
print(-3.999, int(-3.999))        # Note that the result is closer to zero

#print(int("23bottles"))

3.14 3
3.9999 3
3.0 3
-3.999 -3

**2.1.3 Variables**

**2.1.3 Değişkenler**

In [8]:
message = "What's up, Doc?"
n = 17
pi = 3.14159

print(message)
print(n)
print(pi)

What's up, Doc?
17
3.14159

In [10]:
76trombones = "big parade"
more$ = 1000000
class = "Computer Science 101

SyntaxError: ignored

**2.2.1 Statements and Expressions**

**2.2.1 İfadeler ve Tabirler**

In [11]:
print(1 + 1) # Statment/İfade
print(len("hello"))

2
5

In [12]:
y = 3.14 # Expression/Tabir
x = len("hello")
print(x)
print(y)

5
3.14

**2.2.2 Operators**

**2.2.2 Operatörler**

In [13]:
print(2 + 3)
print(2 - 3)
print(2 * 3)
print(2 ** 3)
print(3 ** 2)

5
-1
6
8
9

645 dakikayı saat cinsine çevirmek isterseniz, Python 3'te bölme işlemi / operatörü kullanılır ve sonuç her zaman ondalık bir sayıdır.

İşte dönüşümü gerçekleştirmek için kullanabileceğiniz örnek kod:

In [14]:
minutes = 645
hours = minutes / 60
print(hours)

10.75