<a href="https://colab.research.google.com/github/Ahmethan96/python-tutorial/blob/main/2_Python_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **2. Python Data Types** ###
### **2. Python Veri Türleri** ###

**2.1.1 Values and Data Types**

**2.1.1 Değerler ve Veri Türleri**

In [ ]:
print(type("Hello, World!"))
print(type(17))
print("Hello, World")

<class 'str'>
<class 'int'>
Hello, World

In [ ]:
print(type(3.2))

<class 'float'>

**2.1.2 Type Conversion Functions**

**2.1.2 Tip Dönüştürme**

In [ ]:
print(3.14, int(3.14))
print(3.9999, int(3.9999))       # This doesn't round to the closest int!
print(3.0, int(3.0))
print(-3.999, int(-3.999))        # Note that the result is closer to zero

#print(int("23bottles"))

3.14 3
3.9999 3
3.0 3
-3.999 -3

**2.1.3 Variables**

**2.1.3 Değişkenler**

In [ ]:
message = "What's up, Doc?"
n = 17
pi = 3.14159

print(message)
print(n)
print(pi)

What's up, Doc?
17
3.14159

In [ ]:
76trombones = "big parade"
more$ = 1000000
class = "Computer Science 101

SyntaxError: ignored

**2.2.1 Statements and Expressions**

**2.2.1 İfadeler ve Tabirler**

In [ ]:
print(1 + 1) # Statment/İfade
print(len("hello"))

2
5

In [ ]:
y = 3.14 # Expression/Tabir
x = len("hello")
print(x)
print(y)

5
3.14

**2.2.2 Operators**

**2.2.2 Operatörler**

In [ ]:
print(2 + 3)
print(2 - 3)
print(2 * 3)
print(2 ** 3)
print(3 ** 2)

5
-1
6
8
9

645 dakikayı saat cinsine çevirmek isterseniz, Python 3'te bölme işlemi / operatörü kullanılır ve sonuç her zaman ondalık bir sayıdır.

İşte dönüşümü gerçekleştirmek için kullanabileceğiniz örnek kod:

In [ ]:
minutes = 645
hours = minutes / 60
print(hours)

10.75

**3.1.1 Lists**

**3.1.1 Listeler**

In [1]:
# list values
vocabulary = ["iteration", "selection", "control"]
numbers = [17, 123]
empty = []
mixedlist = ["hello", 2.0, 5*2, [10, 20]]

print(numbers)
print(mixedlist)
newlist = [ numbers, vocabulary ]
print(newlist)

[17, 123]
['hello', 2.0, 10, [10, 20]]
[[17, 123], ['iteration', 'selection', 'control']]

In [2]:
# list length
alist =  ["hello", 2.0, 5, [10, 20]]
print(len(alist))
print(len(['spam!', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]))

4
4

In [3]:
# accessing elements
numbers = [17, 123, 87, 34, 66, 8398, 44]
print(numbers[2])
print(numbers[9 - 8])
print(numbers[-2])
print(numbers[len(numbers) - 1])

87
123
8398
44

In [4]:
# list memebership
fruit = ["apple", "orange", "banana", "cherry"]

print("apple" in fruit)
print("pear" in fruit)

True
False

In [5]:
# concatnation and repetition
fruit = ["apple", "orange", "banana", "cherry"]
print([1, 2] + [3, 4])
print(fruit + [6, 7, 8, 9])

print([0] * 4)
print([1, 2, ["hello", "goodbye"]] * 2)

[1, 2, 3, 4]
['apple', 'orange', 'banana', 'cherry', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['hello', 'goodbye'], 1, 2, ['hello', 'goodbye']]

In [6]:
# list sclices
a_list = ['a', 'b', 'c', 'd', 'e', 'f']
print(a_list[1:3])
print(a_list[:4])
print(a_list[3:])
print(a_list[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [7]:
# lists are mutable
fruit = ["banana", "apple", "cherry"]
print(fruit)

fruit[0] = "pear"
fruit[-1] = "orange"
print(fruit)

['banana', 'apple', 'cherry']
['pear', 'apple', 'orange']

In [1]:
# list delection
a = ['one', 'two', 'three']
del a[1]
print(a)

alist = ['a', 'b', 'c', 'd', 'e', 'f']
del alist[1:5]
print(alist)

['one', 'three']
['a', 'f']

In [3]:
# list methods
mylist = []
mylist.append(5)
mylist.append(27)
mylist.append(3)
mylist.append(12)
print(mylist)

mylist.insert(1, 12)        # Insert 12 at pos 1, shift other items up
print(mylist)
print(mylist.count(12))     # How many times is 12 in mylist?

print(mylist.index(3))      # Find index of first 3 in mylist
print(mylist.count(5))

mylist.reverse()
print(mylist)

mylist.sort()
print(mylist)

mylist.remove(5)            # Removes the first 12 in the list
print(mylist)

lastitem = mylist.pop()     # Removes and returns the last item of the list
print(lastitem)
print(mylist)

[5, 27, 3, 12]
[5, 12, 27, 3, 12]
2
3
1
[12, 3, 27, 12, 5]
[3, 5, 12, 12, 27]
[3, 12, 12, 27]
27
[3, 12, 12]

**4.1 Dictionaries**

**4.1 Sözlükler**

In [1]:
telefon_rehberi = {
    "Ahmet": "555-1234",
    "Mehmet": "555-5678",
    "Ayşe": "555-9876"
}

print(telefon_rehberi["Ahmet"])

555-1234